django==3.1.5
django-extensions==3.1.0
ipython==7.19.0
jedi==0.17.2
python-dotenv==0.15.0
psycopg2==2.8.6
paho-mqtt==1.5.1
pydot==1.4.1
pyyaml==5.4.1
django-widget-tweaks==1.4.8
redis==3.5.3
edcomms
django-crispy-forms