{% extends 'dashboard.html' %} {% block script %}
<script>
  String.prototype.format = function () {
    var args = arguments;
    this.unkeyed_index = 0;
    return this.replace(
      /\{(\w*)\}/g,
      function (match, key) {
        if (key === "") {
          key = this.unkeyed_index;
          this.unkeyed_index++;
        }
        if (key == +key) {
          return args[key] !== "undefined" ? args[key] : match;
        } else {
          for (var i = 0; i < args.length; i++) {
            if (
              typeof args[i] === "object" &&
              typeof args[i][key] !== "undefined"
            ) {
              return args[i][key];
            }
          }
          return match;
        }
      }.bind(this)
    );
  };

  async function ajax_rqst_nodes() {
    return $.ajax({
      url: "{% url 'ajax_check_for_nodes' %}",
      data: {
        hub_id: $("#hub_id").val(),
      },
      success: function (response) {
        var nodes = response.nodes;
        if (nodes.length == 0) {
          console.log("No nodes found");
          return;
        }

        $("#hub_node_canvas").html(function () {
          var node_str = "";
          for (i = 0; i < nodes.length; i++) {
            node_str += ` 
            <div class='card-body'>
                <h5 class='card-title'>{node_id}</h5>
                <h6 class='card-subtitle mb-2 text-muted'>{address64}</h6>
                <a href="{remove_url}" type="button" class="card-link btn btn-success">Unlink</a>
            </div>`.format(nodes[i]);
          }

          // remove spinner to discovery button
          $("#discover_btn_spinner")
            .removeAttr("class")
            .removeAttr("role")
            .removeAttr("role")
            .removeAttr("aria-hidden");
          console.log(node_str);
          return node_str;
        });

        return true;
      },
      error: function (response) {
        console.log(response.responseJSON.errors);
        return false;
      },
    });
  }

  function sleep(ms) {
    return new Promise((resolve) => setTimeout(resolve, ms));
  }

  var discover_handler = function (e) {
    /**
        An AJAX call when discovering new or existing nodes
        from the hub.

        Has a timeout of 30 seconds, but will continue to run in a loop and query
        the server every 2 seconds to see if results come back.
        **/

    // add spinner to discovery button
    $("#discover_btn_spinner")
      .addClass("spinner-border")
      .addClass("spinner-border-sm")
      .attr("role", "status")
      .attr("aria-hidden", "true");
    async function discover_rqst() {
      $.ajax({
        data: {
          hub_id: $("#hub_id").val(),
        },
        url: "{% url 'ajax_discover_nodes' %}",
        success: function (response) {
          console.log(response);
        },

        error: function (response) {
          console.log(response.responseJSON.errors);
        },
      });
    }

    async function poll_nodes() {
      var query_time = 2; // s
      var timeout = 180; // s

      var total_ticks = timeout / query_time;

      var tick = 0;
      while (tick <= total_ticks) {
        await sleep(query_time * 1000);
        console.log("Polling for nodes");
        var result = await ajax_rqst_nodes();
        console.log(result);
        if (result.nodes.length > 0) {
          break;
        }
        tick++;
      }
    }
    discover_rqst();
    poll_nodes();
  };

  var diagnostics_report_handler = function (e) {
    /**
    
    Request network diagnostic information.

    Information requested will be:
    * serial information of hub,
    * fw version
    * hw version 
    * connection strengths between hubs

    **/
    async function diagnostics_rqst() {
      $.ajax({
        data: {
          hub_id: $("#hub_id").val(),
        },
        url: "{% url 'ajax_diagnostics_report' %}",
        success: function (response) {
          console.log("sending diagnostics command " + response);
        },

        error: function (response) {
          console.log(response.responseJSON.errors);
        },
      });
    }

    async function diagnostics_poll() {
      var ajxcall = await $.ajax({
        data: {
          hub_id: $("#hub_id").val(),
        },
        url: "{% url 'ajax_diagnostics_rcv' %}",
        success: function (response) {
          return response;
        }
      })
      return ajxcall;
    }

    async function poll_diag_report() {
      var query_time = 1; // s
      var timeout = 60; // s

      var total_ticks = timeout / query_time;

      var tick = 0;
      var result;
      while (tick <= total_ticks) {
        await sleep(query_time * 1000);

        console.log("Polling for diagnostics flag");
        result = await diagnostics_poll();
        console.log(result);
        if (result !== undefined || result !== null) {
          break;
        }
        tick++;
      }

      await parse_results(result.response);

    }

    async function parse_results(response) {
      var diag_report = response;
      var network = diag_report['network_network'];
      var devices = network['devices']; // list 
      var protocol = network['protocol'];


      var hub = null;
      // not safe
      for (idx in devices) {
        if (devices[idx]['role'] == 'Router') {
          hub = devices[idx];
          break;
        }
      }

      var network_id = hub['nwk_address'];
      var hw = hub['hw_version'];
      var fw = hub['fw_version'];

      var header_html = `
      <p class="lead">FW: 0x{} <br> HW: 0x{} <br>NetworkID: {}</p>
      `.format(
        fw, hw, network_id
      )

      $("#diag_hub_header").html(
        header_html
      );

      var rssi_mapping = {
        30: 'amazing',
        67: 'very good',
        70: 'okay',
        80: 'not good',
        90: 'unusable'
      }

      var device_mapping = {}
      for (idx in devices) {
        var device = devices[idx];

        if (device['role'] == 'Router') {
          device_mapping['parent'] = device['addr'];
        }
        device_mapping[device['addr']] = device['node_id'];
      }
      var table_html = ""
      // iterate through connections
      var cntr = 0;
      for (idx in devices) {
        var device = devices[idx];
        console.log(device['connections']);
        if (device['connections'].length > 0) {
          connections = device['connections'];
          var node_a = device['addr'];
          if (node_a == device_mapping['parent']) {
            node_a = "Main Hub";
          } else {
            node_a = device_mapping[node_a];
          }

          for (idy in connections) {
            var conn = connections[idy];
            var node_b = conn['addr'];

            if (node_b == device_mapping['parent']) {
              node_b = "Main Hub";
            } else {
              node_b = device_mapping[node_b];
            }

            var rssi = conn['strength'];
            try {
              rssi = Number(rssi) * -1;

              for (rssi_level in rssi_mapping) {
                if (rssi <= rssi_level) {
                  rssi = rssi_mapping[rssi_level];
                  break;
                }
              }
            } catch (err) {
              rssi = "Unknown";
            }
            console.log(rssi);
            table_html += `
              <tr>
                <th scope="row">{cntr}</th>
                <td>{node_a}</td>
                <td>{node_b}</td>
                <td>{rssi}</td>
              <tr>
              `.format({
              'node_a': node_a,
              'node_b': node_b,
              'rssi': rssi,
              'cntr': cntr++,
            })

          }
        }
      }
      console.log(table_html)
      $("#diag_hub_table").html(
        table_html
      );
    }



    diagnostics_rqst();
    poll_diag_report();
  }


  $(document).ready(function () {
    $("#discover_btn").one("click", discover_handler);
    $("#diagnostics_report_btn").one("click", diagnostics_report_handler);
    var node_results = ajax_rqst_nodes();
  });

</script>

{% endblock script %} {% block style %}
<style>
  .btn-discover {
    background-color: #8064a2 !important;
  }

</style>

{% endblock style %} {% block dashboard_content %}
<hr />
{% if not hubs %} No Hubs Found, connect to one.
<form method="POST" action="{% url 'connect_new_hub' %}">
  <div class="row">
    {% csrf_token %}
    <div class="col-2">
      {{new_hub_form}}
      <input type="submit" class="btn mt-2 btn-primary" data-dismiss="modal" value="Connect" />
    </div>
  </div>
</form>
{% else %} {% for hub in hubs %}
<h4 class="mt-2">{{hub.hub_name.title}}</h4>
<input type="hidden" name="hub_id" value="{{hub.hub_id}}" id="hub_id" />
<div class="row">
  <div class="col-2 bg-error">
    <button type="button" class="btn btn-danger mt-2 shadow" id="discover_btn">
      <span id="discover_btn_spinner"></span>

      Discover
    </button>
    <button type="button" class="btn btn-secondary mt-2 shadow" data-toggle="modal" data-target="#hub_meta_data">
      Info
    </button>
    <button id="diagnostics_report_btn" type="button" class="btn btn-secondary mt-2 shadow" data-toggle="modal"
      data-target="#hub_diagnostics_data">
      Diagnostics Report
    </button>

    <!-- Diagnostics Node Modal -->
    <div class="modal fade" id="hub_diagnostics_data" tabindex="-1" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
              Hub Diagnostics Report
            </h5>
            <span id="diag_hub_header"></span>
          </div>
          <div class="modal-body" id="modal_test_conn_node_body">
            <h3>Connection Status</h3>
            <table class="table table-sm">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Node A</th>
                  <th scope="col">Node B</th>
                  <th scope="col">Strength (RSSI)</th>
                </tr>
              </thead>
              <tbody id="diag_hub_table"></tbody>
            </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">
              Close
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Hub Info Modal -->
    <div class="modal fade" id="hub_meta_data" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
              {{hub.hub_name.title}}
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Hub Id: <br /><b>{{hub.hub_id}}</b></p>
            <br />
            <p>Connect Phrase: <br /><b>{{hub.connect_passphrase}}</b></p>
            <br />
            <p>Assigned to: <br /><b>{{hub.account.user.username.title}}</b></p>
            <br />
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row mt-5">
  <div class="col">
    <div class="card mt-3" style="width: 18rem" id="hub_node_canvas"></div>
    {% comment %} {% if hub.node.all %} {% for node in hub.node.all %}
    <div class="card mt-3" style="width: 18rem" id="hub_node_canvas">
      <div class="card-body">
        <h5 class="card-title">{{node.node_id.title}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{node.address}}</h6>
        <a href="{% url 'node_remove' node.address %}" class="card-link">Remove</a>
      </div>
    </div>
    {% endfor %} {% else %}
    <p>No Nodes Found.</p>
    {% endif %} {% endcomment %}
  </div>
</div>
<hr />
{% endfor %} {% endif %} {% endblock dashboard_content %}
